/* 04_quiz_structure_body.css :본문 */
/* 본문 영역 디자인 */
.contents {
    /* 가로 */
    width: 1000px;
    /* 중앙정렬 */
    margin: 50px auto;
}
/* section 별 마진 - 위 */
main > section {
    /* 마진 - 위 */
    margin-top: 60px;
}

/* 본문 - 글 */
.detail p {
    color: #222222;
    /* 마진 - 아래 */
    margin-bottom: 30px;
}

/* TODO: img (좌측정렬) */
.detail > img {
    /* 좌측 정렬 */
    float: left;
    /* 마진 - 오른쪽 */
    margin-right: 50px;
    /* 둥근 사각형 */
    border-radius: 20px;
}

/* 본문 - 제목(h2) */
main h2 {
    /* 글자 크기 */
    font-size: 1.5em;
    /* 마진 - 아래쪽 */
    margin-bottom: 40px;
}

/* 본문 - div(상세설명 글) */
main div {
    /* 마진 - 위 */
    margin-top: 20px;
}

/* 본문 - 상세일정(h3) */
main h3 {
    font-size: 1.2em;
    /* 마진 - 아래 */
    margin-bottom: 20px;
}

/* main - 상세일정(.schedule) */
.schedule h3 {
    font-size: 1.2em;
}
/* main - 상세일정(li) */
.schedule ul li {
    margin-bottom: 20px;
}