/* 01_display_div.css */
/* display 속성 예제 */
/* 복습 : div 특징  : block 속성, 자동 줄바꿈, 가로/세로속성 사용 */
/* 복습 : span 특징 : inline 속성, 자동 줄바꿈(x), 가로/세로속성(x) */
/* TODO: 사용법 : 선택자 { display: inline[block]; } */
/* TODO: display : 강제적으로 block <-> inline 속성을 변경하는 속성 */
.box {
    /* 가로 */
    width: 50px;
    /* 세로 */
    height: 50px;
    /* 배경색 */
    background-color: blue;
    /* TODO: 디스플레이 속성 */
    display: inline;
}
.box2 {
    /* 가로 */
    width: 50px;
    /* 세로 */
    height: 50px;
    /* 배경색 */
    background-color: red;
    display: inline;
}
.box3 {
    /* 가로 */
    width: 50px;
    /* 세로 */
    height: 50px;
    /* 배경색 */
    background-color: yellow;
    display: inline;
}