/* 14_quiz_8.css */
/* 힌트 : li - list-style-type: square 적용, 글자크기 16px p - 행간 150%,
    글자크기 14px body - 돋음 폰트 h3 - 맑은고딕 폰트 */
body {
    /* 폰트 : 돋음 */
    font-family: '돋음';
}

h3 {
    /* 폰트 : 맑은고딕 */
    font-family: '맑은고딕';
    /* 글자색 */
    color: blue;
}

p {
    /* 행간 : 글자 세로 간격 */
    line-height: 150%;
    /* 글자 크기 */
    font-size: 14px;
}

li {
    /* 목록 앞에 사각형 */
    list-style-type: square;
    /* 글자 크기 */
    font-size: 16px;
}

span {
    /* 굵은 글씨 속성 */
    font-weight: bold;
}