/* 16_space_semantic.css */
/* 복습 : 태그선택자 -> html태그 { 속성:값; } */
/* 머리말 디자인 */
header {
    background-color: aqua;
}

/* 메뉴 디자인 */
nav {
    background-color: cadetblue;
}

/* 본문 디자인 */
section {
    background-color: beige;
}

/* 소본문 디자인 */
article {
    background-color: lightgreen;
}

/* 꼬리말 디자인 */
footer {
    background-color: lightpink;
}