/* 20_etc_action.css */
/* TODO: 반응선택자 : 마우스 위로 올라가거나/클릭하거나 등 일때 디자인 적용됨 */
/* 사용법 : 마우스가 위로 올라갔을때 디자인 적용
    태그:hover { 속성:값; }
*/
h1:hover {
    color: red;
}
/* 사용법 : 마우스를 클릭했을때 디자인 적용
    태그:active { 속성:값; }
*/
h1:active {
    color: blue;
}
