/* 23_quiz_9.css */
h1 {
    /* 글자 크기 속성 */
    font-size: 60px;
}

/* 복습 : class선택자 -> .속성명 { 속성:값; } */
.heading {
    /* 배경색 */
    /* 색깔값 : 예약어(red, blue 등), #숫자6개(색상값) */
    /* 10진수 : 0 ~ 9 숫자 예) 109
    ,  2진수  : 0 , 1 숫자
    , 16진수  : 0 ~ 15 숫자 => 10(a), 11(b), 12(c), 13(d), 14(e), 15(f)
     */
    background-color: #bdba37;
    /* 글자색 */
    color: white;
    /* 글자 중앙 정렬 */
    text-align: center;
    /* 세로 크기 */
    height: 100px;
    /* 가로 크기 */
    width: 100%;
}