/* 14_background_image.css */
/* 태그선택자 : html태그 { 속성:값; } */
body {
    /* 배경 이미지 넣기 : 모든 화면을 꽉 채움(기본) */
    /* url(이미지경로(인터넷주소)) : css 에서 이미지 넣는 함수  */
    background-image: url("https://picsum.photos/id/10/200/300");

    /* 배경 이미지 반복(repeat) 중지 속성 */
    background-repeat: no-repeat;

    /* 배경 이미지 위치(좌표) 이동 : 단위(%, px) */
    /* TODO: 사용법 : background-position: 왼쪽 위쪽; */
    background-position: 100px 100px;
    /* background-position: 20% 100px; */

    /* 배경 이미지 크기 */
    /* TODO: px(고정크기) - 모니터 사이즈가 변경되도 크기가 변하지 않음 */
    /* TODO: 반응형 디자인 : 핸드폰/테블릿/pc 화면에 변화하는 디자인 */
    /* TODO: %, vw(viewport width), vh(viewport height) - 반응형 디자인 */
    /* TODO: 사용법 : background-size: 가로크기 세로크기 */
    background-size: 50vw 50vh;
}