/* 15_quiz_12.css */
body {
    /* 배경이미지 : 화면을 꽉 채움(기본) */
    /* .  : 현재경로 */
    /* .. : 상위경로 */
    background-image: url("../img/bg2.jpg");
    /* 이미지 반복 중단 속성 */
    background-repeat: no-repeat;
}

p {
    /* 글자 크기 */
    font-size: 20px;
    /* 바깥여백 - 왼쪽 */
    margin-left: 130px;
    /* 바깥여백 - 위쪽 */
    margin-top: 160px;
    /* 가로 크기 */
    width: 280px;
}

div {
    /* 배경색 */
    background-color: blue;
    /* 글자색 */
    color: white;
    /* 가로 크기 */
    width: 120px;
    /* 바깥여백 - 왼쪽 */
    margin-left: 210px;
    /* 바깥여백 - 위 */
    margin-top: 30px;
    /* 안쪽여백 */
    padding: 8px;
    /* 글자 중앙 정렬 */
    text-align: center;
}